<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/campo-texto.css">
    
</head>
<body>
    <form action="">
        <div class="campo-texto">
            <input type="text" name="" id="" required>
            <label for="">texto</label>
        </div>
    </form>    

</body>
</html>