<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <link rel="stylesheet" href="../css/normalize.css">    
        <link rel="stylesheet" href="../css/campo-texto.css">
        <link rel="stylesheet" href="../css/boton.css">
        <link rel="stylesheet" href="../css/login.css">




</head>
<body>
    <form action="" method="post" class="login">
        <div class="campo-texto">
            <input type="text" name="" id="" required>
            <label for="">usuario</label>
        </div>

        <div class="campo-texto">
            <input type="password" name="" id="" required>
            <label for="">contraseña</label>
        </div>

        <div class="boton">
        <span class="icon-"></span>
        <p>ingresar</p>

    </div>

    </form>
    
</body>
</html>